.header {
  width: 100vw;
  max-width: none;
  margin: 0;
  padding: 20px 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;

}

.nav {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}